<nav>
        <a href="https://webpages.charlotte.edu/pvegesan/" target="_blank">Charlotte.edu</a> ||
        <a href="https://github.com/vasistavegesana" target="_blank">GitHub</a> ||
        <a href="https://vasistavegesana.github.io" target="_blank">GitHub.io</a> ||
        <a href="https://www.freecodecamp.org/fcc-cb3c3e2c-eb2f-4452-ba5a-9b3270fdf6d0" target="_blank">freeCodeCamp</a> ||
        <a href="https://www.codecademy.com/profiles/vasistavegesana" target="_blank">Codecademy</a> ||
        <a href="https://www.linkedin.com/in/vasista-vegesana-585aba1a5/" target="_blank">LinkedIn</a>
      </nav>

      <p> Page Built by 
          <a href="vasista.enterprises.com/index.html" target="_blank">
            Vasista Enterprises
          </a> 
          © 2025</p>