<h1>Vasista Vegesana's Vibrant Vulture || ITIS 3135</h1>
<nav>
        <a href="./" aria-current="page">Home</a> 
        <a href="introduction.html">Introduction</a> 
        <a href="contract.html">Contract</a>
        <a href="vibrant-vulture/about.html">Vibrant Vulture</a>
        <a href="stuff/MY BAD&PAGE.htm">Crappy Page</a>
        <a href="website_evaluations.html">Website Evaluations</a>
        <a href="fccfsjs_outline.html">FCC JS Outline</a>
        <a href="hobby/index.html">Hobby</a>
        <a href="intro_form.html">BYO Intro</a>
        
      </nav>
